In [3]:
import pandas as pd

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phdegrees = [0,1,0,0,0]

In [4]:
GradeList = zip(names,grades,bsdegrees,msdegrees,phdegrees)
df = pd.DataFrame(data = GradeList, columns=['Names','Grades','BS','MS','PhD'])
df

     Names  Grades  BS  MS  PhD
0      Bob      76   1   2    0
1  Jessica      95   1   1    1
2     Mary      77   0   0    0
3     John      78   0   0    0
4      Mel      99   1   0    0

In [5]:
df.count()

Names     5
Grades    5
BS        5
MS        5
PhD       5
dtype: int64

In [6]:
df.mean()

Grades    85.0
BS         0.6
MS         0.6
PhD        0.2
dtype: float64

In [7]:
df.std()

Grades    11.067972
BS         0.547723
MS         0.894427
PhD        0.447214
dtype: float64

In [8]:
df.min()

Names     Bob
Grades     76
BS          0
MS          0
PhD         0
dtype: object

In [9]:
df.max()

Names     Mel
Grades     99
BS          1
MS          2
PhD         1
dtype: object

In [10]:
df.quantile(.25)

Grades    77.0
BS         0.0
MS         0.0
PhD        0.0
Name: 0.25, dtype: float64

In [11]:
df.quantile(.5)

Grades    78.0
BS         1.0
MS         0.0
PhD        0.0
Name: 0.5, dtype: float64

In [12]:
df.quantile(.75)

Grades    95.0
BS         1.0
MS         1.0
PhD        0.0
Name: 0.75, dtype: float64